%h1= "Audit Log for #{params[:date].strftime("%B %d, %Y")}"

.outset
  = render :partial => "results_table"
  
#actions
  = render :partial => "date_navigation"
  = will_paginate @audits
  = render :partial => "filter_options"
  
= render :partial => "print_styles"